body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.Banner{
    position: relative;
    background:url(/img/2312152.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position:center;

}

.nav-item{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
}

.navbar-brand{
    color: #021903;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.nav-item{
    align-items: flex-end;

}
.navbar-header{
    float: left;
    text-align: center;
    padding: 15px;
    width: 100%;
}
ul.nav a:hover { color: #fff !important; }
.btn-change{
    height: 50px;
    background:#34CFCC ;
    margin: -6px;
    float: right;
    box-shadow: 0 0 1px #ccc;
    /* -webkit-transition : all 0.5s ease-in-out; */
    border: 0px;
    color: #fff;

}

.btn-change:hover{
    /* -webkit-transform: scale(1.1); */
    background:#124B4A ;
}

table{
    align-items: center;
}

.navbar-brand{
    color: white;
}

.navbar .navbar-brand {
    position: relative;
    font-weight: bolder;
}
.navbar {
    background-color: #4361ee;
    z-index:0;
}

footer .li .a{
    color: white;
}

.wthree-left-right  h4{
    color: white;
}


.img-fluid, .img-thumbnail{
    max-width: 27% !important;
    height: auto;
}


 .btn.btn-primary
{
        border-color:#4361ee !important ;
        color:#4361ee !important;
        background-color: transparent;
        border: 2px #4361ee !important ;
}

.btn.btn-primary:hover
{
    background-color: #4361ee !important;
    color: white !important;
}

.heading{
    text-align: center;
    /* text-decoration: underline; */

}
.heading:hover{
    text-decoration: underline;

}

.card{
        margin: auto;
        float: none;
        margin-bottom: 10px;    
}

.intro{
    text-align: center;
}
